 <app-navbar></app-navbar>
<!-- <mat-tab-group (selectedTabChange)="onTabClick($event)">
  <mat-tab label="CS 354"></mat-tab>
  <mat-tab label="CS 407"></mat-tab>
  <mat-tab label="CS 448"></mat-tab>
  <mat-tab label="CS 471"></mat-tab>
  
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <button mat-icon-button (click)="open(content)" placement="right" ngbTooltip="New" tooltipClass = "toolfront">
          <mat-icon>add_circle</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group> -->

<!-- <app-table [data]='tableargs1' ></app-table> -->
<div class="container">
<mat-tab-group >
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      Class information and contents for {{tab}}.
      <div class="btn-holder">
        <button mat-raised-button mat-button color="warn"
          class = "deleteClassBtn"
          [disabled]="tabs.length === 1"
          (click)="removeClass(index)">
          Delete Class
        </button>
      </div>
  </mat-tab>

  <mat-tab disabled>
    <ng-template mat-tab-label>
      <button mat-icon-button (click)="open(content)" placement="right" ngbTooltip="New" tooltipClass = "toolfront">
          <mat-icon>add_circle</mat-icon>
      </button>
    </ng-template>
  </mat-tab>

</mat-tab-group>




<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search For Class Tags</mat-label>
    <input matInput placeholder="cs444" #search>
  </mat-form-field>
  <button (click)="getUserClasses(search.value)">Search!</button>
  <app-table *ngIf="displayTagResult" [data]='tableargs'></app-table>
</form> -->

  <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Find Class
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <mat-label>Search For Class Tags</mat-label>
                    <input matInput placeholder="cs444" #search>
                  </mat-form-field>
                  <button type="submit" (click)="getUserClasses(search.value)">Search!<i class="fa fa-search"></i></button>
                  <app-table *ngIf="displayTagResult" [data]='tableargs'></app-table>
                  <app-table *ngIf="displayTagResult" [data]='tableargs2'></app-table>
                </form>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" 
            class="btn btn-outline-dark" 
            (click)="modal.close('Save click'); addClass(search.value)">
            Add Class
        </button>
    </div>
  </ng-template>
</div>